<div class="row">
  <div>
    <%= form_with(model: message) do |f| %>
    
      <% if message.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul>
            <% message.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= f.label :title, 'curry shop（必須）' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :place, '場所（必須）' %>
        <%= f.text_field :place, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :day, '定休日（必須）' %>
        <%= f.text_field :day, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :hour, '営業時間' %>
        <%= f.text_field :hour, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :currytype, '種類' %>
        <%= f.text_field :currytype, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :curryurl, 'URL' %>
        <%= f.text_field :curryurl, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :content, 'コメント' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>

      <%= f.submit '投稿', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
