<h1>id: <%= @message.id %> の curry shop 詳細ページ</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td><%= @message.id %></td>
  </tr>
  <tr>
    <th>curry shop</th>
    <td><%= @message.title %></td>
  </tr>
  <tr>
    <th>詳細・コメント</th>
    <td><%= @message.content %></td>
  </tr>
</table>

<%= link_to 'このcurryを編集する', edit_message_path(@message), class: 'btn btn-light' %>
<%= link_to 'このcurryを削除する', @message, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>